<div class="row"></div>
<form class="login-form form">
    <div class="field pt-5">
        <label class="label">Login</label>
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
            <input class="input form-input" type="email" placeholder="Email" id="email-login">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
            <input class="input form-input" type="password" placeholder="Password" id="password-login">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field pb-5">
        <p class="control">
            <button class="button is-success" id="login-button">Login</button>
        </p>
    </div>
</form>

<form class="signup-form form">
    <div class="field pt-5">
        <label class="label">Sign up</label>
        <label class="label">Name</label>
        <p class="control has-icons-left has-icons-right">
            <input class="input form-input" type="text" placeholder="Name" id="name-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
            <input class="input form-input" type="email" placeholder="Email" id="email-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
            <input class="input form-input" type="password" placeholder="Password" id="password-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field pb-5">
        <p class="control">
            <button class="button is-success" id="signup-button">Sign up</button>
        </p>
    </div>
</form>

<script src="./js/login.js"></script>